:root {
    --primary-color: #4f8cff;
    --secondary-color: #ffb347;
    --bg-color: #C6C6C6;
    --fg-color: #D9D9D9;
    --title-color: #005EEA;
    --text-color: #525252;
    --accent-color: #A7A7A7;


    --button-color: var(--primary-color);

    --width-sm: 30rem;
    --width-md: 50rem;
    --width-lg: 70rem;


    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;


    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 2rem;


    --border-radius: 0.5rem;




    --font-family: 'Segoe UI', Arial, sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;   /* ipv height: 100% */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* laat de pagina meegroeien */
  text-align: center;
  box-sizing: border-box;

  /* ⚠️ dit moet weg als je wilt scrollen */
  /* justify-content: center; */
}

h1 {
    color: var(--title-color);
    font-size: 2.5rem;
    margin-bottom: 0;
}

p {
    color: var(--text-color);
}

body {
    font-family: 'Outfit', sans-serif;
}

